<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <img src="../../assets/images/classroom.jpg">
    <ion-card-header>
      <ion-card-subtitle>
        Classroom Attendance Manager
      </ion-card-subtitle>
      <ion-card-title>
        @10dance</ion-card-title>
      <ion-card-content>
        <p>
          @10dance is an attendance application originally designed to help teachers keep track of students in their
          classes
        </p>
        <a routerDirection="forward" routerLink="/roster">Roster</a>


      </ion-card-content>
    </ion-card-header>
  </ion-card>
</ion-content>